.app {
  text-align: center;
}

.content-container {
  min-height: 300px;
}

.loading-spinner {
  padding: 16px;
  animation: spinner-spin infinite 3s linear;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.files-list {
  text-align: left;
  font-family: monospace;
  padding: 16px;
}

.file-result.selected {
  font-weight: bold;
  background-color: #333;
}